<div class="row" style="padding: 15px">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gerenciamento de Licenças</h5>
        <p class="card-text">Gerenciamento das licenças adquiridas pela Sinales.</p>
        <a href="#" class="btn btn-primary">>></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Equipamentos e patrimônio</h5>
        <p class="card-text">Gerenciamento dos equipamentos patrimoniais da Sinales, computadores, impressoras, notebook, etc.</p>
        <a href="#" class="btn btn-primary">>></a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suporte</h5>
        <p class="card-text">Solicitações de atendimento e </p>
        <a href="atendimento" class="btn btn-primary">>></a>
      </div>
    </div>
  </div>

</div>